<div class="input-group question-answer">
      <span class="input-group-addon">
        <%= f.check_box  :correct %>
      </span>
  <%= f.text_field :title, class:'form-control', placeholder: 'Answer...' %>
</div>