<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top"> EDU </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'shared/user_profile_menu' %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="/"> Home </a>
        </li>
        <li>
          <a class="page-scroll" href="/exams"> Model Test </a>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Charges
            <!--<span class="caret"></span>-->
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to payment_list_path do %>
                  <i class="fa fa-credit-card"></i>
                  Charge List
              <% end %>
            </li>
            <li>
              <%= link_to my_test_path do %>
                  <i class="fa fa-archive"></i> Payments Procedure
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <% if user_signed_in? %>
              <a class="page-scroll" href="/my_test"> My Test </a>
          <%else%>
              <%= link_to 'My Test', new_user_session_path %>
          <% end %>
        </li>
        <li>
          <a class="page-scroll" href="/about"> About </a>
        </li>
        <li>
          <a class="page-scroll" href="/contact"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>