// Place all the styles related to the exam controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exam-list, .subject-list {
  list-style: none;
  margin: 0;
  padding: 0;
  h3 {
    margin: 0;
  }
  li {
    //display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    a {
      background-color: #74cee4;
      -webkit-box-shadow: 0 4px 0 0 #6fc4d9;
      -moz-box-shadow: 0 4px 0 0 #6fc4d9;
      box-shadow: 0 4px 0 0 #6fc4d9;
      display: block;
      padding: 15px 10px;
      color: #ffffff;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        color: #dfdfdf;
      }
    }
  }
  li:nth-child(3n + 1) {
    clear: both;
  }
}

.exam-content {
  padding-bottom: 20px;
  min-height: 400px;
}