<%= content_for :page_header do %>
 <h1> Select your exam </h1>
<%end%>
<ul class="exam-list">
  <% @exams.each do |exam| %>
      <li class="exam-item">
        <%= link_to exam_path(exam) do %>
            <h3> <%= exam.title %> </h3>
            <%= exam.description %>
        <%end%>
      </li>
  <%end%>
</ul>