<%= content_for :page_header do %>
    <div class="breadcrumb flat">
      <a href="/"> Think </a>
      <a href="/exams"> <%= @exam.title %> </a>
      <a href="javascript:void(0);" class="active"> Start Test </a>
      <a href="javascript:void(0);"> Get Success </a>
    </div>
<% end %>

<div class="exam-content col-lg-12 clearfix">
  <ul class="subject-list">
    <% @exam.subjects.each do |subject| %>
        <li class="col-md-4">
          <%= model_test_link(current_user, subject) %>
        </li>
    <% end %>
  </ul>
</div>